
	
<h1>Consulta de Clientes</h1>


 <form accept-charset="UTF-8" action="/cadclis/consulta" method="get">
  <label>Nome do Cliente:
    <input type="text" name="lala" OnKeyUp="this.style.textTransform='uppercase'" id="" />
      
  </label>
  <label>
    <input type="submit" name="" id="" value="Consultar" />
    
  </label>
  
  
  
  
  
  <p>
           <h3> <%= link_to image_tag("web-app-theme/btn_todos.png", :border =>0), cadclis_path %> </h3>
</form>

