<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<script type="text/JavaScript" src="rounded_corners.js"></script>
<title>Login Box HTML Code - www.PSDGraphics.com</title>



</head>


<body>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>



        <% if user_signed_in? %>
            
            <h4>Logado como: <%= current_user.email %>. Não é você? &nbsp</h4>
            
            <%= link_to "Encerrar", logout_path %>

        <% else %>
        
        
         

        <% end %>



   
</div>
</body>
</div>
</html>